@import url('https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2&display=swap');
.body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Baloo Tammudu 2', cursive;
}

#new-contact-container {
  border: 3px solid rgb(228, 228, 228);
  border-radius: 10px;
  padding: 20px;
  margin-left: 20px;
  /* margin: 16px; */
}

#new-contact-container #new-contact {
  text-align: center;
}

#new-contact-container #new-contact>div {
  margin: 15px;
}

/* ----------------------------------------- */

#list-contacts-container {
  border: 3px solid rgb(228, 228, 228);
  border-radius: 10px;
  margin: 20px;
  margin-top: 50px;
  padding: 20px;
  text-align: center;
}

#list-contact {
  overflow-y: auto;
  height: 200px;
  border: 3px solid rgb(228, 228, 228);
  border-radius: 10px;
}

#contact-card {
  border-bottom: 3px solid rgb(228, 228, 228);
}

#contact-card>label {
  display: block;
  padding: 9px;
}

input {
  padding: 4px;
  margin-left: 20px;
}